@model eComShop.Entities.Category

@{ 
    ViewBag.Title = "Edit"; 
}

<h2 class="text-info">Edit Category</h2>

<form method="post">
    <input name="Id" value="@Model.Id" hidden />

    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />

    <button type="submit">Save</button>
</form>

