@model List<eComShop.Entities.Category>

@{ 
    ViewBag.Title = "Create"; 
}

<hr />
<h2 class="text-info">Create Product</h2>
<hr />

<form id="createProduct">
    <div class="form-group">
        <label>Category</label>
        <select name="CategoryId" class="form-control">
            <option value="0">Select Category</option>
            @foreach (var category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    

    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control"/>
    </div>
    

    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control"/>
    </div>
    

    <div class="form-group">
        <label>Price</label>
        <input name="Price" class="form-control"/>
    </div>
    

    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
    <button id="btnCancel" type="button" class="btn btn-danger">Cancel</button>
</form>


<script>
    $("#btnSave").click(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Products")',
            data: $("#createProduct").serialize()

        }).done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer");

            swal("Product Saved Successfully!", {
                icon: "success",
            });

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>