@model List<eComShop.Entities.CustomConfig>

@{
    ViewBag.Title = "Create";
}

<hr />
<h2 class="text-info">Create Custom Config</h2>
<hr />

<form id="createCustomConfig">

    <div class="form-group">
        <label>Key <span class="text-danger">*</span></label>
        <input name="Key" class="form-control" />
    </div>


    <div class="form-group">
        <label>Value <span class="text-danger">*</span></label>
        <input name="Value" class="form-control" />
    </div>

    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
    <button id="btnCancel" type="button" class="btn btn-danger">Cancel</button>
</form>


<script>
    $("#createCustomConfig").validate({
        rules: {
            Key: {
                required: true
            },
            Value: {
                required: true
            }
        },

        messages: {
            Key: {
                required: "Key is required",
            },
            Value: {
                required: "Value is required"
            }
        }
    })


    $("#btnSave").click(function () {

        if ($("#createCustomConfig").valid()) {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "CustomConfig")',
            data: $("#createCustomConfig").serialize()

            }).done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");

                swal("Record Saved Successfully!", {
                    icon: "success",
                });

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                swal({
                    title: "Warning(Server Side)",
                    text: "Please enter all required fields",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
            });
        }

        else {
            swal({
                title: "JS-Warning(Client Side)",
                text: "Please enter all required fields",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });

</script>